* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: wheat;
  height: 50vh;
}

.saved-email {
  margin-left: 10px;
  background-color:beige;
}